{% extends "account/account_base.html" %}
{% block title %}
Вход в ZEST-ЛК
{% endblock %}
{% block content %}

<div id="login-page" class="row">
    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
        <div class="row">
            <div class="input-field col s12">
                <h5 class="ml-4">Проверьте входящие письма!</h5>
                <p class="ml-4">На вашу электрунную почту была отправлена ссылка на сброс пароля.</p>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <p>В случае, если письмо не пришло, проверьте папку со спамом или <a href="{% url 'account:password_reset' %}">сбросьте пароль повторно.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}